@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.footer-section {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: #000000;
}

.footer-section h2 {
  margin-bottom: 1rem;
  position: relative;
}
.footer-section h2::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background: #ff5400;
  position: absolute;
  top: 2.5rem;
  left: 0;
}
.footer-section p {
  transition: all 0.2s linear;
  margin-bottom: 0.6em;
}
a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.footer-section p:hover {
  transition: all 0.2s linear;
  transform: translateX(4px);
}
.footer-section a:hover {
  color: #e5e5e5;
}
.footer-item {
  margin: 1rem;
}
.footer-item ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
