* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14213d;
}

.counter-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.counter-container,
textarea {
  background-color: #003049;
  color: white;
}

.counter-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

textarea {
  border: none;
  outline: none;
  padding: 2rem 0;
  text-align: left;
  resize: none;
  color: white;
}

.output {
  display: flex;
  justify-content: space-between;
}
