@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social-items {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0.5rem;
  padding: 2.5rem 1rem;
  transition: all 0.5s;
  box-shadow: 0 0 2px #00000073;
  border-radius: 5px;
}

.social-items:hover {
  box-shadow: 0 0 13px #00000073;
}

.item i {
  padding: 2.5rem;
  border: 2px solid;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-heading {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.socialDescription {
  color: rgb(76, 69, 69);
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

.fb,
.fa-facebook-f {
  color: blue;
}

.insta,
.fa-instagram {
  color: rgb(255, 0, 225);
}

.yt,
.fa-youtube {
  color: red;
}

.twitter,
.fa-twitter {
  color: blue;
}
