@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #003f91;
}
.item-container {
  background-color: #fff;
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left-logo {
  width: 60px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left-logo img {
  width: 100%;
}
.top-right-cart {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.main-item {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.item-heading {
  text-transform: capitalize;
}
.item-description {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 200;
}
